<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Job', jobs_path('job') %></li>
<li><%= link_to 'Type', types_path('type') %></li>
<li><%= link_to 'Users', users_path('user') %></li>
